.constructor-shadow {
  box-shadow: inset 15px 20px 20px 0px rgba(83, 154, 237, 0.3), inset -15px -15px 20px 0px rgba(83, 154, 237, 0.3);
  padding: 1%;
  border: 0.1rem solid #539aed;
  border-radius: 5px;
  box-sizing: border-box;
}
.square-wrapBg {
  background: url(../images/title-bg-short.png) no-repeat;
  background-size: 100% 100%;
}
.rectangle-wrapBg {
  background: url(../images/title-bg.png) no-repeat;
  background-size: 100% 100%;
}
.column-flex {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
.rows-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.constructor-layout {
  margin: 1% auto 0.5%;
  box-sizing: border-box;
}
.circle::before {
  margin-right: 2%;
  content: '';
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  background-color: #539aed;
  border-radius: 50%;
  vertical-align: middle;
  margin-top: -0.125rem;
}
.hander-top {
  height: 3rem;
  line-height: 3rem;
  font-size: 1.5rem;
  padding-left: 3.5rem;
}
.wrap-style {
  padding: 0.25rem;
  box-sizing: border-box;
  border: 0.1rem solid #539aed;
  background-color: rgba(83, 154, 237, 0.1);
  border-radius: 4px;
}
.hander-line {
  position: relative;
  padding-bottom: 5%;
  color: #FFF;
}
.hander-line::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../images/line-bottom.png) no-repeat;
  background-size: 100%;
  background-position-y: 100%;
}
.wrap-container {
  position: absolute;
  overflow: hidden;
  display: block;
  cursor: default;
  z-index: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.sn-container {
  position: absolute;
  width: 100%;
  height: 100%;
  background-blend-mode: screen;
  overflow: visible;
}
.sn-container:before {
  left: -2px;
  border-left-width: 2px;
  border-right-width: 0;
}
.sn-container:after {
  right: -2px;
  border-left-width: 0;
  border-right-width: 2px;
}
.sn-container .sn-content-before {
  content: "";
  position: absolute;
  bottom: -2px;
  width: 5px;
  height: 5px;
  border-color: #539aed;
  border-style: solid;
  border-top-width: 0;
  border-bottom-width: 2px;
}
.sn-container .sn-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.sn-container .sn-content .sn-title {
  position: absolute;
  height: 26px;
  font-size: 16px;
  color: #539aed;
  line-height: 26px;
  padding: 0 0 0 20px;
  left: 10px;
  right: 10px;
  top: 10px;
}
.sn-container .sn-content .sn-title:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -7px;
  width: 14px;
  height: 14px;
}
.sn-container .sn-content:before {
  left: -2px;
  border-left-width: 2px;
  border-right-width: 0;
}
.sn-container .sn-content:after {
  right: -2px;
  border-left-width: 0;
  border-right-width: 2px;
}
.sn-container .sn-content .sn-body {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
